<div class="modal-dialog" style="width:640px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body" style="max-height:520px;">
            <section id="modal-body"></section>
        </div>
    </div>
</div>
