<div class="language-selector"></div>

<ul class="nav navbar-nav ">
    <li><a href="/{{ currentLanguage }}/login">{{ i18n "Log In" }}</a></li>
    <li><a href="/{{ currentLanguage }}/signup">{{ i18n "Sign Up" }}</a></li>
</ul>
