<span class="handle" title="{{ i18n "Drag to re-order this choice" }}" />
<span class="default-answer-toggle {{#if isDefault}}checked{{/if}}" title="{{ defaultAnswerTooltip }}" />
<span class="delete-choice glyphicon glyphicon-remove" title="{{ i18n "Delete this choice" }}" />
<div class="input" contentEditable="true" spellcheck="true">{{ text }}</div>
