{{#modal-dialog title='Add Element' confirm='save' close='hideModal'}}
  <form>
    <div class="form-group">
      <label>Name</label>
      {{input class="form-control" value=name}}
    </div>
  </form>
{{/modal-dialog}}
