{{#modal-dialog title='Edit Page' save='save' cancel='hideModal'}}
    <div class="element-container">
        <ul class="element">
            {{#each element in model.elements}}
                {{element-cell model=element}}
            {{/each}}
        </ul>
    </div>
{{/modal-dialog}}
