{{#navigation-bar}}
    <button type="button" class="btn btn-default navbar-btn" {{action 'generateProtocol'}}>Download Procedure</button>
{{/navigation-bar}}

<div class="container-fluid">
    {{page-list pages=pages addPage="addPage" editPage="editPage" deletePage="deletePage" updateSortOrder="updateSortOrder"}}
</div>
