<div class="container-fluid">
    <a class="generate btn btn-default pull-right" {{action "generateProtocol"}}>Generate</a>
    {{page-list pages=pages addPage="addPage" editPage="editPage" deletePage="deletePage" updateSortOrder="updateSortOrder"}}
</div>
