<div class="no-concepts-found">{{ i18n "No concepts found" }}</div>

{{#if canUseConceptsManager }}
    <a id="concepts-manager-btn" class="btn btn-success" href="/{{ currentLanguage }}/concepts/manager">{{ i18n "Concepts Manager" }}</a>
{{/if}}
