<section id="debug-info" class="details-panel debug"{{#unless DEBUG}} style="display:none;"{{/unless}}></section>
<section id="conditions" class="details-panel"></section>
<section id="elements" class="details-panel"></section>
