<h1>Page Elements</h1>

<div id="elements-list"></div>

<h1>Create New Element</h1>

<ul id="new-element-btns">
    {{#each element_types}}
    <li>
        <a class="element-type-{{ sluggify @key }}" data-element-type="{{ @key }}">{{ this }}</a>
    </li>
    {{/each}}
</ul>
