<form>
    <div class="form-group">
        <label for="file_uploader" class="sr-only">{{ i18n "Click here to upload" }}</label>
        <input type="file" name="file_uploader" class="form-control" id="file_uploader" name="file_uploader" placeholder="" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="upload-btn">{{ i18n "Upload Concept Dictionary" }}</button>
    </div>
</form>
