<header class="container-fluid spb-container" id="procedures-menu">
    <h1>{{ i18n "Concepts Manager" }}</h1>
</header>

<div id="builder-main">
    <section id="pages-list">
        <div class="collection-view"></div>
        <a id="create-new-page-btn" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>{{ i18n "Create New Concept" }}</a>
    </section>
    <section id="page-details"></section>
</div>
