<div class="wrapper {{#if isSelected}}active{{/if}}">
    <div class="handle" title="{{ i18n "Drag to re-order this page" }}"></div>

    <a class="delete" title="{{ i18n "Delete this page" }}"><span class="glyphicon glyphicon-remove"></span></a>

    <a class="concept">
        <ul class="element-preview">
            {{ display_name }}
        </ul>
    </a>
</div>

{{!-- <td class="concept">{{ display_name }}</td> --}}
