{{!-- <header class="container-fluid spb-container" id="procedures-menu">
    <h1>{{ i18n "Concepts Manager" }}</h1>
</header>
 --}}

<header id="concepts-manager-header" class="container-fluid spb-container">
	<h1>{{ i18n "Concepts Manager" }}</h1>
	
</header>

<div id="concepts-manager-main">
    <section id="concepts-list">
        <input type="text" class="form-control" id="search-field" placeholder="{{ i18n "Search for concepts" }}">
        <div class="collection-view"></div>
        <a id="create-new-concept-btn" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>{{ i18n "Create New Concept" }}</a>
    </section>
    <section id="page-details"></section>
</div>
