<h2 class="concept-name-heading">
    {{ i18n "Concept Name" }}
    <input type="text" id="concept-name" name="ConceptName" class="form-control concept name" value="{{ displayName }}">
</h2>

<h2 class="concept-description-heading">
    {{ i18n "Description" }}
    <input type="text" id="concept-description" name="ConceptDesc" class="form-control concept desc" value="{{ description }}">
</h2>

&nbsp

<section id="elements" class="details-panel"></section>
