<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <header>
                <h1 class="auth-page-logo">Sana Protocol Builder</h1>
            </header>
            <div id="auth-form-area"></div>
        </div>
    </div>
</div>
