<form>
    <div class="form-group">
        <label for="email" class="sr-only">{{ i18n "Email" }}</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="Email">
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-block" id="submit-btn">{{ i18n "Request Password Reset" }}</button>
    </div>
</form>
