<form>
    <div class="form-group">
        <label for="new_password" class="sr-only">{{ i18n "New Password" }}</label>
        <input type="password" name="new_password" class="form-control" id="new_password" placeholder="New Password">
    </div>

    <div class="form-group">
        <label for="password_confirmation" class="sr-only">{{ i18n "Confirm Password" }}</label>
        <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Confirm Password">
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-block" id="submit-btn">{{ i18n "Change Password" }}</button>
    </div>
</form>
