<h1>Sign Up</h1>

<form id="auth-form">
    <div class="alert alert-error"></div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" id="password1" name="password1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="password2">Re-enter password</label>
        <input type="password" id="password2" name="password2" placeholder="Re-enter Password">
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="accept_tos">
                I accept the terms and conditions.
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="btn" id="login-btn">Sign Up</button>
    </div>
</form>
