<div class="no-subroutines-found">{{ i18n "No subroutines found" }}</div>

{{#if canUseSubroutinesManager }}
    <a id="subroutines-manager-btn" class="btn btn-success" href="/{{ currentLanguage }}/subroutines">{{ i18n "Subroutines Manager" }}</a>
{{/if}}
