<h1>{{ i18n "Elements on this page" }}</h1>

<ul id="elements-list"></ul>

<a id="create-new-element-btn" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>{{ i18n "Create New Element" }}</a>
