<a href="/procedures/{{ id }}" title="Edit this procedure" class="title">
    {{ title }}
</a>
<span class="author">
    <strong>Author:</strong> {{ author }}
</span>
<span class="last-modified">
    <strong>Last Modified:</strong> {{ formatDate last_modified day='numeric' month='long' year='numeric' hour='numeric' minute='numeric' }}
</span>
<a class="download glyphicon glyphicon-download-alt" title="Download this procedure as XML"></a>
<a class="delete glyphicon glyphicon-remove" title="Delete this procedure"></a>
