<h1 class="checkbox-heading">
    {{ i18n "Show this page conditionally?" }}
    <input type="checkbox" id="show-page-conditionally" {{#if showPageConditionally }}checked{{/if}}>
</h1>

<div id="condition-editor"></div>
