<section id="show-ifs" class="{{#if pageCanHaveConditions}}details-panel{{/if}}"></section>
<section id="elements" class="details-panel"></section>
<section id="element-creator" class="details-panel"></section>
