@import "colors.less";
@import "bootstrap-v3.3.0/variables.less";

@grid-float-breakpoint: @screen-md;

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

#cover {
    background: #333 url(../img/homepage/hero.png) no-repeat center top;
    height: 500px;
    overflow: hidden;
    text-align: center;

    .hero {
        color: #fff;
        margin-top: 60px;

        h1 {
            font-weight: bold;
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 10px;
        }

        h2 {
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 30px;
        }

        a {
            transition: 0.5s;
        }
    }
}

#footer {
    padding-top: 20px;
    text-align: center;

    nav {
        background-color: white;
        border-color: white;
    }

    a {
        color: @footer-link;

        &:hover {
            text-decoration: underline;
        }
    }
}
