<h1>Credits</h1>

<p>This project was originally developed as a Fourth-Year Design Project (FYDP) by a group of students in the University of Waterloo Software Engineering class of 2016.</p>

<h2>Original Developers</h2>
<ul>
    <li>Fasih Awan</li>
    <li><a href="http://connorcimowsky.com/">Connor Cimowsky</a></li>
    <li><a href="http://joshuakalp.in/">Joshua Kalpin</a></li>
    <li><a href="https://www.stephenli.ca/">Stephen Li</a></li>
</ul>

<h2>Advisors</h2>
<ul>
    <li>Krzysztof Czarnecki</li>
    <li>Kenneth Paik</li>
    <li>Derek Rayside</li>
    <li>Eric Winkler</li>
</ul>

<h2>Additional Credits</h2>
<ul>
    <li><a href="https://design.google.com/icons/">Material Icons</a></li>
</ul>
