<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <header>
                <h1 class="auth-page-logo">{{ i18n "Sana Protocol Builder" }}</h1>
            </header>
            <article id="info"></article>
        </div>
    </div>
</div>
