<div class="procedure-list">
    <a {{action "createProcedure"}} class="create-procedure btn btn-primary">Create Procedure</a>
    <ul class="procedures">
        {{#each procedure in model}}
            {{procedure-card procedure=procedure}}
        {{/each}}
    </ul>
</div>
