@import url(utils/constants.less);


nav#navbar{
    @button-size: @container-side-padding - @column-margin;

    border: none;
    margin-bottom: 0;

    p.navbar-text{
        color: @grey-text-darkbg;
        display: none;
        padding: 0 @column-margin;
    }

    div.navbar-header{
        p.navbar-text{
            @media (max-width:767px) {
                display: block;
                margin-left: @button-size;
            }
        }
    }
    div#navbar-content{
        p.navbar-text{
            @media (min-width:768px) {
                display: block;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    a.go-back{
        background: #000;
        cursor: pointer;
        display: block;
        padding: 0;
        transition: 0.5s;
        width: @button-size; height: 50px;

        color: #fff;
        line-height: 50px;
        text-align: center;

        position: absolute;
        top: 0; left: 0;

        &:hover{
            background: @sana-red;
        }

        &:focus{
            box-shadow: 0 @column-margin @column-margin * 2 rgba(0, 0, 0, 0.4) inset;
        }
    }

    ul{
        margin-left: -@column-margin;

        ul.dropdown-menu{
            margin-left: 0;
        }

        a{
            cursor: pointer;
        }
    }
}
