@import url(utils/constants.less);

h1.auth-page-logo{
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    margin: 160px 0 40px;
    position: relative;
    text-align: center;

    &:before{
        display: block;
        content: '';
        position: absolute;
        top: -80px; left: 50%;
        margin-left: -32px;
        width: 64px; height: 64px;

        background-image: url('../img/logo.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

div#auth-form-area{
    form{
        border: 1px solid @grey-border;
        padding: 40px;
        border-radius: 5px;
    }

    div.footnote{
        color: @grey-text;
        margin: 40px 0;
        text-align: center;
    }
}
