@import url(utils/constants.less);
@import url(utils/helpers.less);


section.details-panel{
    border-bottom: 1px solid @grey-border;
    padding: 40px;
    padding-right: @container-side-padding;

    h1{
        font-size: 24px;
        line-height: 40px;
        margin: 40px 0;

        &:first-child{
            margin-top: 0;
        }
    }
}

div#elements-list ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        &.element{
            border: 1px solid @grey-border;
            margin-bottom: 20px;
            min-height: 40px * 2 + 50px;
            padding: 40px (40px * 2 + 50px);
            position: relative;

            &:last-child{
                margin-bottom: 0;
            }

            h2{
                line-height: 50px;
                margin: 0;
                margin-bottom: 20px;
            }

            div.form-group{
                margin-bottom: 20px;

                div.checkbox{
                    margin-left: 5px;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }

            div.custom-answer{
                div.has-choices{
                    @margin: 10px;
                    @toggle-btn-size: 20px;
                    @drag-btn-size: 30px;
                    @delete-btn-size: 30px;

                    div.choices-container{
                        border: 1px solid @grey-border-light;
                        border-radius: 3px;
                        padding: 10px 0;
                    }

                    li.ui-sortable-placeholder{
                        background: @grey-bg-light;
                    }

                    li.choice,
                    div.choice{
                        background: #fff;
                        display: flex;
                        position: relative;
                        margin: 5px 0;

                        span.handle{
                            background-image: url('/img/common-icons/drag-handle.png');
                            background-size: 80%;
                            background-position: center;
                            background-repeat: no-repeat;
                            cursor: move;
                            display: block;
                            width: @drag-btn-size; height: @drag-btn-size;

                            position: absolute;
                            top: 0; left: @margin;
                        }

                        span.default-answer-toggle{
                            box-sizing: border-box;
                            border: 1px solid @grey-border;
                            border-radius: 5px;
                            cursor: pointer;
                            display: inline-block;
                            width: @toggle-btn-size; height: @toggle-btn-size;

                            position: absolute;
                            top: 5px; left: @drag-btn-size + (@margin * 2);

                            &.checked{
                                background: @grey-bg;
                                box-shadow: 0 0 (@toggle-btn-size / 2) hsla(0, 0, 0, 0.2) inset;
                            }
                        }

                        span.delete-choice{
                            cursor: pointer;
                            display: block;
                            line-height: @delete-btn-size;
                            text-align: center;
                            width: @delete-btn-size; height: @delete-btn-size;

                            position: absolute;
                            top: 0; right: @margin;
                        }

                        input.new-choice,
                        div.input{
                            border: none;
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                            box-sizing: border-box;
                            display: inline-block;
                            line-height: 20px;
                            outline: none;
                            padding: 5px;
                            padding-left: @toggle-btn-size + @drag-btn-size + (@margin * 3);
                            padding-right: @delete-btn-size + (@margin * 2);
                            width: 100%;

                            &:focus{
                                border-color: @grey-border-light;
                            }
                        }

                        &.ui-sortable-helper{
                            div.input{
                                border: 1px solid @grey-border-light;
                            }
                        }

                        &:hover{
                            input.new-choice,
                            div.input{
                                border-color: @grey-border-light;
                            }
                        }
                    }

                    div.choice{
                        margin: 0;

                        span.default-answer-toggle{
                            cursor: default;
                        }
                    }
                }
            }

            a.glyphicon{
                cursor: pointer;
                display: block;
                position: absolute;
                width: 50px; height: 50px;
                right: 40px;

                color: @black-text;
                font-size: 24px;
                line-height: 50px;
                text-align: center;
                text-decoration: none;

                &:hover{
                    color: @link-blue;
                }

                &.delete{
                    top: 40px;
                }

                &.move-up{
                    top: 50%;
                    margin-top: -50px;
                }

                &.move-down{
                    top: 50%;
                }

                &.disabled{
                    color: @grey-text-darkbg;
                }
            }

            &:before{
                background-image: url('/img/elements/default-large.png');
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                content: '';
                position: absolute;
                top: 40px; left: 40px;
                width: 50px; height: 50px;
            }

            .icon(@name) {
                &.element-type-@{name} {
                    &:before {
                        background-image: url('/img/elements/@{name}-large.png');
                    }
                }
            }

            .icon(date);
            .icon(entry);
            .icon(select);
            .icon(multi-select);
            .icon(radio);
            .icon(picture);
            .icon(plugin);
            .icon(entry-plugin);
        }

        &.empty-elements{
            background-color: @grey-bg;
            border-left: 5px solid @grey-border;
            display: block;
            padding: 40px;
        }
    }
}

nav#new-element-btns{
    display: flex;

    a{
        @icon-box-height: 100px;

        border: 1px solid @grey-border;
        border-radius: 3px;
        cursor: pointer;
        display: block;
        flex: 1;
        margin-right: 10px;
        padding: 10px;
        padding-top: @icon-box-height + 10px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: 0.2s;

        color: @black-text;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;

        &:last-child{
            margin-right: 0;
        }

        &:before{
            background-image: url('/img/elements/default-large.png');
            background-repeat: no-repeat;
            background-position: center;
            border-bottom: 1px solid @grey-border;
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 0; right: 0;
            height: @icon-box-height;
        }

        &:hover{
            background-color: @grey-bg;
        }

        .icon(@name) {
            &.element-type-@{name} {
                &:before {
                    background-image: url('/img/elements/@{name}-large.png');
                }
            }
        }

        .icon(date);
        .icon(entry);
        .icon(select);
        .icon(multi-select);
        .icon(radio);
        .icon(picture);
        .icon(plugin);
        .icon(plugin-entry);
    }
}
