<div class="form-group">
    <label for="date-{{ id }}">{{ i18n "Default Answer" }}</label>
    <div class="input-group date">
        <input type="text" id="date-{{ id }}" name="date" class="form-control date" value="{{ answer }}">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
