<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <a class="go-back"><span class="glyphicon glyphicon-home"></span></a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
            <span class="sr-only">{{ i18n "Toggle navigation" }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <p class="navbar-text"></p>
    </div>
    <div id="navbar-content" class="navbar-collapse collapse"></div>
</nav>
<div class="modal fade" id="modal" tabindex="-1"></div>
<div id="notification-center"></div>
<div id="main"></div>
