@import url(normalize.less);
@import url(constants.less);

//------------------------------------------------------------------------------
// General
//------------------------------------------------------------------------------

body{
    background: #efefef;
    color: @font-color;
}

.action-button{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: @action-button-size;
    text-align: center;
    text-decoration: none;
    outline: none;
    
    border-radius: @action-button-size / 2;
    display: block;
    position: relative;
    width: @action-button-size; height: @action-button-size;

    transition: 0.5s;
}

//------------------------------------------------------------------------------
// Procedure
//------------------------------------------------------------------------------

ul.procedure{
    list-style: none;
    margin: 0 40px;
    padding: 0;
    position: relative;

    &:after{
        content: '';
        background: @border-color;
        position: absolute;
        top: 0; left: @sanapage-size / 2;
        margin-left: -1px;
        width: 2px; height: 100%;
        z-index: -1;
    }

    li{
        position: relative;
        z-index: 0;

        div.condition{
            margin-left: @condition-page-offset + @sanapage-size;
            position: relative;
            z-index: 0;
        }
        
        a{
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

            &.open-page {
                background: #fff;
                color: @font-color;
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;

                box-sizing: border-box;
                border: 1px solid @border-color;
                display: block;
                outline: none;
                padding: 40px;
                width: @sanapage-size;

                transition: 0.2s;

                &:hover{
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
                }
            }

            &.add-page{
                .action-button;
                
                background: @add-page-action-color;
                margin: @gap-between-pages 0;
                margin-left: @sanapage-size / 2 - @action-button-size / 2;

                &:hover{
                    background: lighten(@add-page-action-color, 10%);
                }
            }
        }
    }
}
