<h2 class="subroutine-name-heading">
    {{ i18n "Subroutine Name" }}
    <input type="text" id="subroutine-name" name="SubroutineName" class="form-control subroutine name" value="{{ displayName }}">
</h2>

<h2 class="subroutine-description-heading">
    {{ i18n "Description" }}
    <input type="text" id="subroutine-description" name="SubroutineDesc" class="form-control subroutine desc" value="{{ description }}">
</h2>

&nbsp

<section id="elements" class="details-panel"></section>
