{{!-- <header class="container-fluid spb-container" id="procedures-menu">
    <h1>{{ i18n "Concepts Manager" }}</h1>
</header>
 --}}

<header id="subroutines-header" class="container-fluid spb-container">
	<h1>{{ i18n "Subroutines" }}</h1>
	
</header>

<div id="subroutines-main">
    <section id="subroutines-list">
        <input type="text" class="form-control" id="search-field" placeholder="{{ i18n "Search for subroutines" }}">
        <div class="collection-view"></div>
        <a id="create-new-subroutine-btn" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>{{ i18n "Create New Subroutine" }}</a>
    </section>
    <section id="page-details"></section>
</div>
