<div class="form-group">
    <label for="new-choice-{{ id }}">{{ i18n "Choices" }}</label>

    <div class="choices-container">
        <div class="choices-list"></div>

        <div class="choice">
            <span class="default-answer-toggle" />
            <input type="text" id="new-choice-{{ id }}" placeholder="{{ i18n "Type here to create a new choice"}}" class="new-choice">
        </div>
    </div>
</div>
