<div class="form-group">
    <label for="action-{{ id }}">{{ i18n "Action" }}</label>
    <input type="text" id="action-{{ id }}" name="action" class="form-control action" value="{{ action }}">
</div>
