<ul class="nav navbar-nav">
    <li class="go-back">
        <a href="/procedures"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li id="menu-bar" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
        <ul class="dropdown-menu file">
            <li><a class="save">Save Changes</a></li>
            <li><a class="delete">Delete Procedure</a></li>
        </ul>
    </li>
</ul>

<p class="navbar-text status-text"></p>

<div class="navbar-right">
    <ul class="nav navbar-nav ">
        <li><a href="/account">Account Settings</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
