<div class="navbar-left">
    <ul class="nav navbar-nav">
        <li id="menu-bar" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ i18n 'File' }}<span class="caret"></span></a>
            <ul class="dropdown-menu file">
                <li><a class="save">{{ i18n "Save Changes" }}</a></li>
                <li><a class="delete">{{ i18n "Delete Procedure" }}</a></li>
            </ul>
        </li>
    </ul>

    <p class="navbar-text"></p>
</div>

<div class="navbar-right content"></div>
<div class="navbar-right language-selector"></div>
