<ul class="nav navbar-nav">
    <li id="menu-bar" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
        <ul class="dropdown-menu file">
            <li><a class="save">{{ i18n "Save Changes" }}</a></li>
            <li><a class="delete">{{ i18n "Delete Procedure" }}</a></li>
        </ul>
    </li>
</ul>

<p class="navbar-text"></p>

<div class="navbar-right">
    <ul class="nav navbar-nav ">
        <li><a href="/account">{{ i18n "Account Settings" }}</a></li>
        <li><a href="/logout">{{ i18n "Logout" }}</a></li>
    </ul>
</div>
