<ul class="choices">
    {{#each choice in choices}}
        <li class="choice-template" choice="{{choice}}">
            <span class="choice-label">{{choice}}</span>
            <span class="drag-handle octicon octicon-three-bars"></span>
        </li>
    {{/each}}
</ul>
