{{#link-to 'procedure' procedure}}{{procedure.title}}{{/link-to}}

<div class="card-footer">
    <span>{{date-string procedure.lastModified}}</span>
    <span class="octicon octicon-x delete-procedure" {{action 'deleteProcedure' procedure}}/>
</div>
